﻿@model IEnumerable<MultiloansCRM.Models.Document>

<div style="margin-top:50px;">
    <h1>Twoje wnioski</h1>
    <hr />
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoYearsSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoYearsNetProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyCreditInstallment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoYearsSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoYearsNetProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyCreditInstallment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
