﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**ADDED WITH BOOTSTRAP MENU HELPER*/
/* Bootstrap Dropdown Submenu */
/*.dropdown {
    position: relative;
}

    .dropdown > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }*/

    /*.dropdown:hover > .dropdown-menu {
        display: block;
    }*/

    .dropdown:hover > .dropdown-menu
    {
        display:block;
    }

    .dropdown:hover{
        cursor:pointer;
    }

    /*.dropdown > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown.pull-left {
        float: none;
    }*/

        /*.dropdown.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }*/

.navbar-nav .divider-vertical {
    height: 40px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
